<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tequip.cryptotracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cryptotracker">
        <activity
            android:name="com.tequip.cryptotracker.Activites.DetailsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tequip.cryptotracker.Activites.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name="com.tequip.cryptotracker.Activites.AboutUsActivity"
            android:exported="false"/>
        <activity android:name="com.tequip.cryptotracker.Activites.PrivacyPolicyActivity"
            android:exported="false"/>
        <activity android:name="com.tequip.cryptotracker.Activites.IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tequip.cryptotracker.Activites.Visualization" />
        <activity android:name="com.tequip.cryptotracker.Activites.SetAlert" />
        <activity android:name="com.tequip.cryptotracker.Activites.AllAlerts" />
    </application>

</manifest>